
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  width: 100%;
  padding: 0;
  left: 0;
  right: 0;
}

.logo img {
  height: 2.5rem; 
  width: auto;
  cursor: pointer;

}

.nav-links {
  display: flex;
  list-style: none;
  gap: 1.25rem;
}

.nav-links li {
  font-size: 0.89rem;
  text-transform: uppercase;
}
.item{
  margin-top: 0.5rem;
}
.nav-links li a {
  color: black;
  position: relative;
  padding: 0.25rem 0;
  color: #333333; /* Lighter gray color */
  font-weight: 450; /* Bolder text */
}

.item ::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.5s;
  margin: 0 auto;
}

.nav-links li a:hover::after {
  width: 100%;
}

.admin-pannel button {
  border: 2px solid #d1d1d1;
  background-color: white;
  padding: 5px 15px;
  border-radius: 9999px; 
  cursor: pointer;
}
.admin-pannel button:hover {
  border-color: #808080;
}

.icons {
  display: flex;
  justify-content: space-between;
  gap: 1.3em;
}
.icons img{
  cursor: pointer;
  max-height: 22px;
  max-width: 25px;
}
