@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700&family=Prata&display=swap');

body {
  box-sizing: border-box;
  font-family: 'Outfit', sans-serif;
  padding: 20px 137px;
  color: rgb(62, 62, 62);
  font-weight:500;
}
